<app-header></app-header>

<h1 class="text-danger">{{ title }}</h1>
<div>
    <div><app-button></app-button></div>
    <div class="my-3"><app-button></app-button></div>
    <div><app-button></app-button></div>
</div>
<app-footer></app-footer>
<!-- <input [type]="inputType"> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
