<app-header></app-header>

<h1 [ngClass]="getTitleClass()">{{ title }}</h1>
<!-- <button (click)="toggleTitleColor()">Toggle color</button>
<button (click)="addAnotherItem()">Add item</button>
<div *ngIf="isItNight()">Good Night</div>
<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul> -->
<div>
    <div *ngFor="let label of labels">
        <app-button [label]="label"></app-button>
    </div>
    <!-- <div class="my-3"><app-button></app-button></div>
    <div><app-button></app-button></div> -->
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
<!-- <input [type]="inputType"> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

