<!-- <p *ngFor="let customer of customers">
    {{customer.customer_name}}
</p> -->


<h2 class="my-4 py-4">Customers <small class="text-secondery">({{customersTotal()}})</small> </h2>

<div class="p-3">

    <div>
        <input (keydown)="findCustomer($event)" [(ngModel)]="searchFieldValue" type="text"
            placeholder="Search by name, email, country">
            <button (click)="clearSearch()">
                <i class="bi-x-lg"></i>
            </button>

        <button (click)="exportCustomersData()" class=" btn btn-primary ms-4 bi-download me-2"> Export</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name <button (click)="sortCustomers('name')" class="btn btn-default"> <i [ngClass]="displaySort('name')"></i></button></th>
                <th>Email<button (click)="sortCustomers('email')"class="btn btn-default"><i [ngClass]="displaySort('email')"></i></button></th>
                <th>Phone</th>
                <th>Country<button (click)="sortCustomers('country_name')"class="btn btn-default"><i [ngClass]="displaySort('country_name')"></i></button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.country_name}}</td>
            </tr>
        </tbody>
    </table>
</div>