<!-- <h2 class="my-4 py-4">
    Products <small class="text-secondary">({{productsTotal()}})</small>
</h2> -->

<app-page-title [totalItems]="productsTotal()" [title]="'Products'"></app-page-title>
<div>
    <app-export (buttonClicked)="exportProductsData()"></app-export>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
                <!-- <button (click)="sortCustomers('name')" class="btn btn-default">
                    <i [ngClass]="displaySort('name')"></i>
                </button> -->
            </th>
            <th>
                Price
                <!-- <button (click)="sortCustomers('email')" class="btn btn-default">
                    <i [ngClass]="displaySort('email')"></i>
                </button> -->
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="d-flex flex-row">
                <div class="me-3">
                    <img [src]="imagePath(product.image)" [alt]="product.description"
                        width="50" height="50" />
                </div>
                <div>
                    <div class="fw-bold">{{ product.name }}</div>
                    <span class="fw-light">{{ product.description }}</span>
                </div>
            </td>
            <td>{{product.price}}</td>
            <td>
                <!-- todo: actions -->
            </td>
        </tr>
    </tbody>
</table>