<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form *ngIf="!registerSuccess" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input #first formControlName="first_name" type="text" id="first_name" class="form-control" />
                        <label class="form-label" for="first_name">First Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input #last type="text" id="last_name" formControlName="last_name" class="form-control" />
                        <label class="form-label" for="last_name">Last Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input #email type="email" id="email" formControlName="email" class="form-control" />
                        <label class="form-label" for="email">Email</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input #password type="password" id="password" formControlName="password"class="form-control" />
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input #retypePassword type="password" id="retypePassword" class="form-control" formControlName="retypePassword"/>
                          <label class="form-label" for="retypePassword">Retype password</label>
                        </div>
                      </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div *ngIf="registerSuccess">
                  You have created new account successfully.
                  <a routerLink="/login-component">Login to your account</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>